.footer {
    width: 100%;
    min-width: 320px;
    height: 433px;
    background-color: $color_bg_footer;
    font-family: $font_main;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav1 {
   //border: 1px solid white;
   //margin-bottom: 30px;

    &__item, a {
        color: white;
        text-decoration: none;
        list-style: none;
        text-align: center;
        margin: 10px 0 10px 0;
    }
}

.nav2 {
    //border: 1px solid white;
    margin: 28px 0 28px 0; 
   
    &__item, a {
        color: white;
        text-decoration: none;
        list-style: none;
        text-align: center;
        margin: 10px 0 10px 0;
        
    }
}

.copy_box {
    //border: 1px solid white;
    color: white;
    text-decoration: none;
    font-size: 14px;

    p {
        margin: 10px 0 10px 0;
    }

    &__heart {
        color: $color_main;
    }
}
 

