.footer {
    width: 100%;
    min-width: 320px;
    background-color: $color_bg_footer;
    font-family: $font_main;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48.5px 0 38.5px 0;
}

.nav1 {

    &__item, a {
        color: white;
        text-decoration: none;
        list-style: none;
        text-align: center;
        margin: 10px 0 10px 0;
    }
}

.nav2 {
    margin: 28px 0 28px 0; 
   
    &__item, a {
        color: white;
        text-decoration: none;
        list-style: none;
        text-align: center;
        margin: 10px 0 10px 0;
        
    }
}

.copy_box {
    color: white;
    text-decoration: none;
    font-size: 14px;

    p {
        margin: 10px 0 10px 0;
    }

    &__heart {
        color: $color_main;
    }
}
 


// TABLET
@media screen and (min-width: 768px) {

    .footer {
        padding: 46px 69px 34px 159px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    
    //ZAPATILLAS COLUMN
    .nav1 {
        width: 161px; 
        margin: 0 30px 0
        31px;
    
        &__item, a {
            text-align: start;
        }
    }
    
    //SOCIAL MEDIA COLUMN
    .nav2 {
        width: 159px; 
        padding-left: 20px;
       
        &__item, a {
            text-align: start;   
        }
    }
    
    //COPY COLUMN
    .copy_box {
        width: 159px;
        order:0;
    }

    .box1 {
        order: 1;
    }

    .box2 {
        order: 2;
    }
}



// DESKTOP
@media screen and (min-width: 1280px) {

    .footer {
        padding: 30px 190px 34px 159px;
    }
    
    //ZAPATILLAS COLUMN
    .nav1 {
        margin: 0 130px 0
        200px;
    }

    //SOCIAL MEDIA COLUMN
    .nav2 {
        margin-left: 30px;
    }
    
}