.header {
    width: 100%; 
    min-width: 320px; 
    background-color: lightblue;
}

.nav {
    width: 36.8px; 
    &__burger {
        height: 36.8px; 
        background-color: $color-main;
        padding: 10px 10px 10px 10px; 
        margin: 0 0 -4px 0; 
        opacity: none;
        //Al poner esto todo el espacio que había al lado del menu de hamburguesa correspondiente al header ha desaparecido 
        position: fixed;
    }
}