.section1 {
    width: 100%; 
    min-width: 320px;
    height: 552px;
    background-image: url(/images/cover.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top 0px right 150px;
    background-color: rgb(250, 233, 213); //quitar***

}
