.section2 {
    width: 100%;
    min-width: 320px;
    //height: 400px; //CAMBIAR MEDIDAS O UNIDAD!!***
    padding: 34px 7px 0px 13px; 

    &__container1 {
        &--item1 {
            font-family: $font_main;
            font-size: 14px;
            color: $color_main;
            line-height: 30px;
        }

        &--item2 {
            font-family: $font_title;
            font-size: 22px;
            color: black;
            line-height: 30px;
            margin-bottom: 10px;
        }

        &--item3 {
            font-family: $font_main;
            font-size: 15px;
            color: $color_bg_footer;
            line-height: 30px;
        }

    }

    &__container2 {
        font-family: $font_main;
        font-size: 20px;
        width: 160px;
        height: 45px; 
        border-radius: 22.5px;
        border: 2px solid $color_main;
        background-color: white;
        margin: 42px 0px 42px 0;
        
        &--text {
            color: $color_main;
            text-decoration: none;
       
        }
    }
}


// TABLET
@media screen and (min-width: 768px) {
    .section2 {
        padding: 37.7px 7px 42px 37.1px; 
    
        &__container1 {
            &--item1 {
                font-size: 16px;
            }
    
            &--item2 {
                font-size: 32px;
                margin: 10px 0 20px 0;
            }
    
            &--item3 {
                font-size: 20px;
            }
    
        }
    
        &__container2 {
            margin-top: 21.2px;
        }
    }

}


// DESKTOP
@media screen and (min-width: 1280px) {
    .section2 {
        padding: 39px 168px 22px 160px; 
    
        &__container1 {
    
            &--item2 {
                margin: 10px 0 30px 0;
            }
    
            &--item3 {
                margin-bottom: 20px;
            }
    
        }
    
    }

}