<footer class="footer">
    <!-- <div> DEBERIA DE SER NAV?? *** -->
    
    <!-- BOX 1 = CLOTHING -->
    <nav>
        <ul class="nav1">
            <li class="nav1__item">
                <a href="https://adalab.es">ZAPATILLAS</a>
            </li>
            <li class="nav1__item">
                <a href="https://adalab.es">ROPA</a>
            </li>
            <li class="nav1__item">
                <a href="https://adalab.es">NIÑO/A</a>
            </li>
            <li class="nav1__item">
                <a href="https://adalab.es">DESTACADOS</a>
            </li>
            <li class="nav1__item">
                <a href="https://adalab.es">TIPS</a>
            </li>
       </ul>
    </nav>

    <!-- BOX 2 = SOCIAL MEDIA -->
    <nav>
        <ul class="nav2">
            <li class="nav2__item">
                <a href="https://adalab.es">TWITTER</a>
            </li>
            <li class="nav2__item">
                <a href="https://adalab.es">INSTAGRAM</a>
            </li>
            <li class="nav2__item">
                <a href="https://adalab.es">YOUTUBE</a>
            </li>
        </ul>
    </nav>

    <!-- COPYRIGHT -->
    <div class="last_box">
        <span>&copy; 2023</span> 
        <p>we <i class="fa-solid fa-heart"></i> run</span>
    </div>
</footer>