<footer class="footer">
    <!-- <div> DEBERIA DE SER NAV?? *** -->
    
    <!-- NAV 1 = ZAPATILLAS -->
    <nav class="box1">
        <ul class="nav1">

            <li class="nav1__item">
                <a href="https://adalab.es" target="_blank">
                    ZAPATILLAS
                </a>
            </li>

            <li class="nav1__item">
                <a href="https://adalab.es" target="_blank">
                    ROPA
                </a>
            </li>

            <li class="nav1__item">
                <a href="https://adalab.es" target="_blank">
                    NIÑO/A
                </a>
            </li>

            <li class="nav1__item">
                <a href="https://adalab.es" target="_blank">
                    DESTACADOS
                </a>
            </li>

            <li class="nav1__item">
                <a href="https://adalab.es" target="_blank">
                    TIPS
                </a>
            </li>
       </ul>
    </nav>

    <!-- NAV 2 = SOCIAL MEDIA -->
    <nav class="box2">
        <ul class="nav2">
            <li class="nav2__item">
                <a href="https://adalab.es" target="_blank">
                    TWITTER
                </a>
            </li>
            <li class="nav2__item">
                <a href="https://adalab.es" target="_blank">
                    INSTAGRAM
                </a>
            </li>
            <li class="nav2__item">
                <a href="https://adalab.es" target="_blank">
                    YOUTUBE
                </a>
            </li>
        </ul>
    </nav>

    <!-- COPYRIGHT -->
    <div class="copy_box">
        <p>&copy; 2023</p> 
        <p>we <span class="copy_box__heart"><i class="fa-solid fa-heart"></span></i> run</p>
    </div>
</footer>