<section class="section2">
    <div class="section2__container1">
        <p class="section2__container1--item1">
            HISTORIAS, MODA Y ROPA DEPORTIVA
        </p>
        <h2 class="section2__container1--item2">
            TU TIENDA DE DEPORTE
        </h2>
        <p class="section2__container1--item3">
            El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.
        </p>
    </div>
    
    <!-- Botón comprar -->
    <button class="section2__container2" type="button">
        <a href="https://adalab.es" target="_blank" class="section2__container2--text">
            Comprar
        </a>
    </button>
</section>