<section class="section3" id="section3">
    <!-- TITLES -->
    <div class="container_title">
        <p>¡Prepáralos con tus marcas favoritas!</p>
        <h3>VUELTA AL COLE</h3>
    </div>

    <!--GRID WITH KIDS -->
    <ul class="container_main">
        <li class="container_main__item1">
            <img src="/images/lpbts-mod05-img01-desk.png" alt="kid1">
            <h2>Mochilas escolares</h2>
        </li>

        <li class="container_main__item2">
            <img src="/images/lpbts-mod05-img04-mob.png" alt="kid2">
            <h2>Estuches</h2>
        </li>

        <li class="container_main__item3">
            <img src="/images/lpbts-mod05-img03-mob.png" alt="kid3">
            <h2>Bolsas de deporte</h2>
        </li>
    </ul>

    <!-- EMPEZAR AHORA -->
    <button class="container_button">
            <a class="container_button__text" href="https://adalab.es" target="_blank">
                Empezar ahora
            </a>
    </button>

    <!-- ARROW -->
    <button class="circle" type="button">
        <a class="circle__link" href="#section1">
            <img class="circle__link--arrow" src="/images/ico-arrow.svg" alt="icon-scroll-up">
        </a>
    </button>
</section>