<section>
    <div>
        <p>¡Prepáralos con tus marcas favoritas!</p>
        <h3>VUELTA AL COLE</h3>
    </div>

    <div>
        <div>
            <img src="/images/lpbts-mod05-img01-desk.png" alt="kid1">
            <h2>Mochilas escolares</h2>
        </div>

        <div>
            <img src="/images/lpbts-mod05-img04-mob.png" alt="kid2">
            <h2>Estuches</h2>
        </div>

        <div>
            <img src="/images/lpbts-mod05-img03-mob.png" alt="kid3">
            <h2>Bolsas de deporte</h2>
        </div>
    </div>

    <div>
        <button><a href="">Empezar ahora</a></button>
    </div>

    <div>
        <img src="/images/ico-arrow.svg" alt="icon-scroll-up">
    </div>
</section>